@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.App {
  text-align: center;
}

/* CSS for title in "Projects" page incl. media queries */

.projecttitle:hover {
  color: #cd9cf2 !important;
}

.projecttitle {
  font-family: "Space Grotesk", sans-serif;
  color: white;
  transition: color 1s ease-in-out;
  pointer-events: auto;
  z-index: 50;
}

/* DESKTOP (>=1201px): vertical, pinned to right side */
@media (min-width: 1201px) {
  .projecttitle {
    position: fixed;
    top: 90px;
    right: 32px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 135px;
    line-height: 1;
  }
}

/* <=1200px: horizontal, centered at top, in normal flow */
@media (max-width: 1200px) {
  .projecttitle {
    position: relative;      
    width: 100%;
    text-align: center;
    writing-mode: horizontal-tb;
    margin: 24px 0 12px;     
    font-size: 115px;
    line-height: 1;
  }
}

/* responsive size tweaks */
@media (max-width: 980px) { .projecttitle { font-size: 100px; } }
@media (max-width: 780px) { .projecttitle { font-size: 70px; } }
@media (max-width: 630px) { .projecttitle { margin-top: 80px; } }


/* CSS for home page elements */

.myname {
  position:absolute;
  text-align:right;
  font-family: 'Space Grotesk', sans-serif;
  color:white;
  font-size:145px;
  margin-right:50px;
  -webkit-margin-start:-60px;
  margin-top:80px;
  transition: color 1s ease-in-out;
  top: 0;
}

.myname:hover {
  color: #cd9cf2 !important;
}

.name-wrap {
  position: relative;
}

.intro-container {
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
  display: flex;
  justify-content: center;
  margin-top: -50px;
  font-family: "Space Grotesk", sans-serif;
  color: rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.10);
  border-radius: 25px;
  padding: 0.9%;
  transition: color 0.5s ease-in-out, box-shadow 0.15s ease-in-out,
  background 0.15s ease-in-out, border 0.15s ease-in-out;
}

.intro-container:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0.22);
  border: 1px solid rgba(255, 255, 255, 0.16);
  -webkit-box-shadow: 0 0 14px rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 14px rgba(255, 255, 255, 0.12);
}


.profile-container div {
  margin: 125px;
  content: url("./me-profile.png");
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.10);
  border-radius: 50%;
  width: 320px;
  height: 345px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.profile-container div:hover {
  border: 3px solid rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
}


/*
      MEDIA QUERIES
*/

@media(min-width:1600px) {
  .border-container div {
    margin-left: 545px;
  }
  #tsparticles {
    margin-left: 582px;
  }
  .left {
    margin-left: 350px;
  }
}
@media(min-width:1800px) {
  .border-container div {
    margin-left: 645px;
  }
  #tsparticles {
    margin-left: 682px;
  }
  .left {
    margin-left: 450px;
  }
}

@media(min-width: 780px) {
  .name-wrap {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
}


@media(max-width:1290px) {

  .myname {
    color:white;
    font-size:110px;
    margin-top:120px;
    margin-right:20px;
  }
  .intro-container {
    margin-left: 30%;
    margin-right: 30%;
  }
}

@media(max-width:1080px) {
  .profile-container div {
    width: 270px;
    height: auto;
  }
  .myname {
    color:white;
    font-size:100px;
    margin-top:120px;
    margin-right:20px;
  }
  .intro-container {
    margin-left: 30%;
    margin-right: 30%;
  }
}

@media(max-width:980px) {
  .myname {
    font-size:80px;
    margin-top: 150px;
  }
}

@media(max-width:820px) {
  .myname {
    font-size:70px;
    margin-top: 160px;
  }
}


@media (max-width: 779px) {
  .name-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .myname {
    display: inline-block;   /* makes centering + margins predictable */
    position: relative;
    margin: 0;
    top: 0;
  }

  .profile-container div {
    margin-top: 20px;
    margin-bottom: 85px;
  }

  .intro-container {
    margin-left: 18%;
    margin-right: 18%;
    bottom: 150%;
  }
}

@media (max-width: 600px) {

  .intro-container {
    margin-left: 10%;
    margin-right: 10%;
    bottom: 150%;
  }
}
