

    body {
      margin: 10px;
      overflow-x:hidden;

    }


    #title {
        color: brown;
        text-align: center;
        font-size: 3vw;
        width: 100%;
        margin: auto;
    }

    #game {
        width: 100%;
        height: 1000px;
        margin-left: 34%;
        margin-top: 1.5vw;
        overflow: hidden;
          z-index: 100;
    }

    .popup {
        position:absolute;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
}
    #startPopup {
        display: block;
    }

    .popupContentA {
        font-size: 1.5vw;
        text-align: center;
        width: 35vw;
        margin: auto;
        margin-top: 15vw;
        background-color: rgba(255,255,255,0.8);

    }

    .start{
        margin: auto;
        width: 2.5vw;
        height:2.5vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
        border: none;
        background-image: url(start.png);
        background-size: 100%;
    }

    #gameover {
        color: red;
        text-align: center;
        font-size: 3vw;
        width: 100%;
        margin: auto;
        margin-top: 3vw;
    }

    #endPopup {
        display: none;
    }

    .popupContentB {
        font-size: 2vw;
        text-align: center;
        width: 35vw;
        margin: auto;
        margin-top: 5vw;
        color: white;
    }

    #score {
        font-size: 2vw;
    }



    .reload {
      margin: auto;
      width: 2.5vw;
      height:2.5vw;
      margin-top: 1vw;
      margin-bottom: 1vw;
      border: none;
      background-image: url(end.png);
      background-size: 100%;

    }
